.SideMenu{
    grid-area: SideMenu;
    background-color: #3D4045;
    overflow: auto;
    transition: all 0.3s; 
    width: 14%;
    .SideNav{
        color: var(--fontColor);
        display: grid;
        grid-template-rows: auto auto auto;
        z-index: 1;
        div{
            padding: 10px;
        }
        a{
            text-decoration: none;
            color: white;
        }
        .Hamburg{
            text-align: end;
            cursor: pointer;    
        }
    }
}
div.Toggle{
    grid-area: SideMenu;
    background-color: #2b2929;
    overflow: auto;
    width: 50px;
    transition: all 1s;
    .SideMenu{
        width: 20%;
    }
    .SideNav{
        padding:20px 10px;
        div.Hamburg{
            text-align: left;
            padding-bottom:20px;
        }
        a{
            span{
                visibility: hidden;
            }
        }
        .navbar-toggler{
            display: none;
        }
    }

}


