.SideMenu, .Toggle{
    grid-area: SideMenu;
    background-color: #3D4045;
    overflow: auto;
    transition: all 0.3s; 
    height:100%;
    .SideNav{
        color: var(--fontColor);
        display: grid;
        grid-template-rows: auto auto auto;
        grid-gap: 20px;
        padding: 20px;
        a{
            text-decoration: none;
            color: var(--fontColor);
        }
        .Hamburg{
            text-align: end;
            cursor: pointer;    
        }
    }
}
div.Toggle{
    .SideNav{
        padding:20px 10px;
        div.Hamburg{
            text-align: left;
        }
    }

}


