   
  .Logo{
        grid-area: logo;
        img{
            width: 7rem;
            padding-left: 10px;
        }
    } 
  .Cdpp{
    grid-area: cdpp;
    font-size:24px;
    color: #3C3C3C;
    border-left: 1px solid #ccc;
  }
  div.UserImg{
    grid-area: userimage;
    text-align: end;
    padding: 10px;
    cursor: pointer;
  }