.Projects{
    .btn{
      text-align: end;
        a{
          color: white;
          &:hover{
            text-decoration: none;
          }
        }
    }
      .breadcrumb{
        background-color: transparent !important;
      }
    
  }
  nav.bdcrumb{
    ol{
      background-color: transparent;
    }
  }

