.Projects{
    display: grid;
    padding: 1.5rem;
    .btn{
      text-align: end;
        a{
          color: white;
          &:hover{
            text-decoration: none;
          }
        }
    }
      .breadcrumb{
        background-color: transparent !important;
        padding-left:0;
      }
  }

  @media screen and (max-width: 420px){
    .Projects{
      padding: 0px;
      .btn{
        text-align: left;
        padding-left: 0px;
      }
    }
  }
  

