.Projects{
    display: grid;
    grid-template-columns: auto auto;
    padding: 1.5rem;
    .btn{
      text-align: end;
        a{
          color: white;
          &:hover{
            text-decoration: none;
          }
        }
    }
      .breadcrumb{
        background-color: transparent !important;
        padding-left:0;
      }
  }
  

