body {
  margin: 10px 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


  /* ########################################### */
  :root{
    --fontColor: #FFFFFF;
    --dark:#333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* 
.Home{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 10rem auto;
}

.SideBar{
  position: absolute;
  background: #45454c;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10rem;
}
.RightSection{
  position: relative;
  margin-left: 10.4rem;
} */
.GridComp{
  padding: 20px;
}
.table thead th {
  /* color: var(--fontColor); */
}
/* 
.Login > div{
  padding: 10px;
}
.logo img{
  width: 70%;
}
.LoginImage img{
  display:inline-block;
}

.Home{
  display: grid;
  padding: 10px;
}
.Header{
  display: flex;
  width: 100%;
}

.Home .LogoHome{
  width: 10%;
  margin-right:10px;
  padding:10px;
  border-right: 1px solid rgb(245, 241, 241);
}
.Home .LogoHome img{
  width:70%;
}
.Home .Cdpp{
  padding:10px;
  width:70%;
  float:left;
}
.Home .UserImg{
  width:20%;
  text-align: right;
  padding: 10px;
  padding-right: 3%;
}
.SideNav{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  border: 1px solid black;
}
 */
